<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>welcome</title>
</head>
<body>
  <h1><%= title %></h1>
  <div><span><%=userInfo.id2 %></span>님 환영합니다</div>
  <div><span><%=userInfo.pw2 %></span>이군요!!</div>
</body>
</html>