<!DOCTYPE html>
<html lang="en">
<head>
  <title>form</title>
</head>
<body>
  <h1> <%= title %></h1>


    <h2>GET</h2>
  <form action="/getForm" name="login1" method="get">
  <input type="text" name="id" id="id"> 
  <input type="text" name="pw" id="pw"> 
  <button type="submit">제출</button>
  </form>

    <h1>POST</h1>
    <form action="/postForm" name="login2" method="post">
  <input type="text" name="id2" id="id2"> 
  <input type="text" name="pw2" id="pw2"> 
  <button type="submit">제출</button>
</body>
</html>